@media screen and (max-width: 1399px) {
.container{
    width: 1160px;
    padding: 0 20px;
    
}

    .col_3{
        flex: 1;
        min-width: 24vw;
        max-width: 368px;
    }

    .ct_btn{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        flex: 1;
        padding: 7px 10px;
    }

    .col_6_psev{
        width: auto;
    }
}

@media screen and (max-width: 1199px) {
    .container{
        width: calc(100% - 40px);
        padding: 0 20px;
    }

    .navigatin{
        display: none;
    }

    .icon_box{
        display: none;
    }

    .burger_menu{
        display: block;
    }

    .ct_button_box {
        flex-direction: column;
    }

    .card{
        flex-direction: column;
    }

    .col_6{
        flex: 1;
        max-width: 100%;
    }

    .card_info_image_box{
        width: 100%;
    }

    .card_info_price_btn{
        display: flex; 
        align-items: center;
        gap: 40px;
        justify-content: space-between;
        width: 100%;
    }

    .btn_card{
        font-size: 16px;
        padding: 10px 15px;
        margin: 0;
    }

    .copy_wrap{
        flex-direction: column;
    }

    .cody_item{
        flex-direction: column;
        align-items: start;
    }

    .cody{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cody_elem{
        width: auto;
    }

    .card_info_image_box{
        height: 50vw;
    }

    .oplata_box{
        flex-direction: column-reverse;
    }

    .col_5{
        flex: 1;
        max-width: 100%;
    }

}

@media screen and (max-width: 479px) {
    .container{
        width: calc(100% - 20px);
        padding: 0 10px;
    }

    .btn_menu{
        gap: 10px;
    }

    .kateg_item{
        font-size: 20px;
    }

    .razdel_item{
        font-size: 18px;
    }

    .title_block{
        font-size: 28px;
        margin: 30px 0 20px 0;
    }

    
    .col_3{
    min-width: calc(50% - 10px);
    
    
    }

    .gap_40{
        gap: 10px;
    }

    .card_price{
        font-size: 24px;
    }

    .card_old_price{
        font-size: 24px;
    }

    .card_info{
        gap: 20px;
    }

    .notic{
        font-size: 18px;
        margin-top: 30px;
    }

    .instruction_title{
        font-size: 20px;
        margin-top: 20px;
    }

    .instruction_text{
        font-size: 16px;
    }

    .card{
        margin-top: 30px;
    }

    .login_box{
        max-width: 100%;
    }
    
    .login_par {
        margin-top: 10vh;
    }

    .lk{
        margin-top: 30px;
    }

    .balance{
        width: 100%;
    }

    .balance_par{
        display: block;
        margin-top: 60px;
    }
    

    .cody_item{
    }

    .cody{
        margin-top: 30px;
    }

    .cody_item{
        gap: 10px;
    }

    .oplata_tovar_name{
        font-size: 14px;
    }


    .oplata_tovar{
        padding: 15px;

        gap: 10px;
    width: calc(100% - 30px);
    }

    .oplata_tovar_card_price_box{
        gap: 10px;
    }

    .oplata_tovar_card_price_box{
        flex-direction: column;
    }

    .oplata_tovar_card_old_price{
        max-width: 54px;
    }
    
}