@font-face {
    font-family: 'inter-medium';
    src: url(/src/font/Inter-Medium.woff2);
}

body{
    margin: 0;
    padding: 0;
    background: #F0F0F0;
    font-family: 'inter-medium';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}


.nav {
    margin-top: 15px;
}
.container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}
.nav_box {
    height: 66px;
    width: calc(100% - 30px);
    border-radius: 20px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    background: #fff;
}
.logo_box {
    width: 65px;
}
.navigatin {
    display: flex;
    gap: 40px;
    align-items: center;
}
.nav_item {
    color: #332428;
    text-decoration: none;
}
.btn {
    padding: 7px 26px;
    background: #2F6BF2;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}


.flex{
    flex: 1;
    width: 100%;
}


.footer {
    background: #111111;
    width: 100%;
    padding: 40px 0 10px 0;
}

.footer_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.logo_box {
}

.link_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.link_item {
    width: 230px;
    color: #A1A1A1;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
}


.login {

}

.login_box {
    width: 300px;
    margin: 0 auto;
    margin-top: 20vh;
}

.title_block {
    font-size: 36px;
    text-align: center;
}

.form_login {
    width: 100%;
    margin-top: 30px;
}

.btn_form {
    width: 100%;
    margin-top: 10px;
}

.input{
    background: #FAFAFA;
    border: #E8E8ED;
    outline: #E8E8ED;
    width: calc(100% - 15px);
    height: 40px;
    margin-bottom: 20px;
    padding-left: 15px;
}


.btn {
    padding: 7px 26px;
    background: #2F6BF2;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    border: none;
}

.yvedoml{
    margin-top: 20vh;
}

.yvedoml_box{
    margin: 0 auto;
}
